venv/
__pycache__
OpikDemos/__pycache__
OpikDemos/venv/
chroma_db

PhoenixDemos/__pycache__
PhoenixDemos/venv/


.venv/


MCP/.venv/
MCP/__pycache__
MCP/agentic-rag-mcp/rag_vector_store4
MCP/agentic-rag-mcp/.venv
MCP/agentic-rag-mcp/venv
MCP/agentic-rag-mcp/__pycache__

